:root {
    --osirn-primary: #075DAA;
}

html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.visible{
    display: block;
}
.notvisible{
    display: none;
}

.btn-close:hover{
  cursor: pointer;
}
.icon-close{
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    float: right;
    text-align: center;
    padding-top: 2.5px;
    background-color: rgba(255,255,255,.5);
}

.boxradio{
    /* border-radius: 5px; */
    border:1px solid #075daa;
}
.boxsombra{
    z-index: 12!important;
    -webkit-box-shadow: 3px -3px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px -3px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 3px -3px 10px -2px rgba(0,0,0,0.75);
}
.boxsombra:hover{
    -webkit-box-shadow: 4px -3px 13px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px -3px 13px -2px rgba(0,0,0,0.75);
    box-shadow: 4px -3px 13px -2px rgba(0,0,0,0.75);    
}


/** Menu Main Lateral  **/
.menu .list-inline{
    margin-bottom: 0px;
}
.menu .list-inline li:hover{
    cursor: pointer;
}
.menu-main{
    background-color:var(--osirn-primary);
    position: absolute;
    top: 20%;
    right: 18px;
    padding: 5px 3px;
    border-radius: 5px;
}
.menu-main .list-inline li{
    margin:10px 0;
    padding: 2px;
}
.menu-main .list-inline li img{
    width: 30px;
}

/** Cards **/
.card-header{
    text-transform: uppercase;
    font-size: 12px;
    background-color:#075daa;
    color: white;
    cursor: all-scroll;
}
.card-header img{
    width: 1.15em;
    margin: 2px;
}
.card-body{
  overflow-y: auto;
}

/* Efecto Parpadeo*/
.parpadea {  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}
@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}



/*************** RESPONSIVO **************************/
  @media only screen and (max-width: 768px) {
    
  }
  @media only screen and (max-width: 400px) {
     /* .hide-on-md{
        display: none;
      }*/
  }

